<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxePSY7hCs7U2O2l1Ni-3QXXk9ypWfNz0</string>
	<key>GCM_SENDER_ID</key>
	<string>494585887678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutorial.facebook-clone</string>
	<key>PROJECT_ID</key>
	<string>facebook-clone-7ae57</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-clone-7ae57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494585887678:ios:532f6d51251eceb48717ef</string>
</dict>
</plist>